/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* 
 * see https://wiki.selfhtml.org/wiki/CSS/Eigenschaften/box-sizing#Vererbung_auf_alle_Elemente
 */
html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
html,
body {
  height: 100vh;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}
body {
  font-size: 1em;
  line-height: 1.4;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flex;
  /* Microsoft */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
}
a {
  color: #45aaa6;
}
a:hover {
  text-decoration: underline;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}
/*
 * Hide empty images
 */
img[src=""] {
  display: none;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * No Javascript
 */
#no-js {
  position: fixed;
  top: 33%;
  left: 20%;
  right: 20%;
  background-color: #fff;
  padding: 3%;
  font-size: 1em;
  font-weight: bold;
  color: #f88;
  border: solid 1px #f88;
}
html.js #no-js {
  display: none;
  visibility: hidden;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
button,
select {
  padding: 5px;
}
img {
  max-width: 100%;
}
.flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flex;
  /* Microsoft */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.button {
  cursor: pointer;
}
.template {
  display: none;
}
.no-data {
  opacity: 0.5;
}
/* structure */
.section {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flex;
  /* Microsoft */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  overflow: hidden;
  padding: 5px;
}
/* no events */
.no-events {
  margin: 20px;
  text-align: center;
  color: #222;
}
.no-events .rotate {
  font-size: 2em;
  animation: spin 2s ease-in-out infinite;
}
/* events */
.event {
  margin-top: 10px;
  border-bottom: solid 1px #30888c;
  padding-bottom: 10px;
  cursor: pointer;
}
.event .time {
  font-size: 0.7em;
}
.event .title {
  margin: 5px;
  font-weight: bold;
}
.event .location-address,
.event .location-name {
  display: inline-block;
  font-size: 0.8em;
}
.event .excerpt {
  margin: 0 0 10px 5px;
  font-size: 0.9em;
}
/* hints */
#hint {
  z-index: 10000;
  display: none;
  position: fixed;
  bottom: 10%;
  left: 10%;
  right: 10%;
  top: auto;
  background-color: #fff;
  border: solid 3px #f88;
  border-radius: 10px;
  box-shadow: 0 0 20px #222;
  padding: 5%;
  text-align: center;
  font-weight: bold;
}
/* dialogs */
.dialog {
  display: none;
}
#dialog {
  display: none;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  position: fixed;
  z-index: 1000;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #fff;
  border-radius: 10px;
  border: solid 1px #30888c;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}
#dialog .buttons {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flex;
  /* Microsoft */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  padding: 5px;
  font-size: 0.8em;
  border-top: solid 1px #30888c;
}
#dialog .content {
  overflow: scroll;
  overflow-x: hidden;
  font-size: 0.9em;
  padding: 5px 5px 15px;
  hyphens: auto;
}
.dialog-event {
  margin-bottom: 15px;
}
.dialog-event img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}
.dialog-event .title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.dialog-event .location {
  font-size: 0.8em;
  margin-bottom: 1em;
}
.dialog-event .location .name {
  color: #45aaa6;
  text-decoration: underline;
  cursor: pointer;
}
.dialog-event .time {
  font-size: 0.8em;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 1em;
}
#search {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  position: fixed;
  top: 25%;
  left: 5%;
  right: 5%;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  border: solid 1px #30888c;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}
#search .term {
  margin-bottom: 1em;
  padding: 10px;
}
/* top-bar */
#top-bar {
  top: 0;
  left: 0;
  right: 0;
  background-color: #30888c;
  color: #eee;
}
#top-bar .app-name {
  -webkit-flex-grow: 2;
  -moz-flex-grow: 2;
  -ms-flex-grow: 2;
  flex-grow: 2;
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  font-size: 0.7em;
  padding: 0 15px 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#top-bar .button {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flex;
  /* Microsoft */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  color: #eee;
  text-align: center;
  padding: 15px 10px;
  font-size: 0.8em;
  font-weight: bold;
}
#top-bar .button.tile {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1.3em;
}
#top-bar .button.highlighted {
  background-color: rgba(255, 255, 255, 0.3);
}
#top-bar #menu-bar {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flex;
  /* Microsoft */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
}
/* events-list */
#events-list .day-time-picker {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flex;
  /* Microsoft */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
#events-list .day-time-picker .day {
  -webkit-flex-grow: 2;
  -moz-flex-grow: 2;
  -ms-flex-grow: 2;
  flex-grow: 2;
}
#events-list .day-time-picker .time {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
#events-list .events-list {
  overflow: auto;
  overflow-x: hidden;
}
#events-list .search {
  position: fixed;
  bottom: 1em;
  right: 1em;
  text-align: center;
  font-size: 1.5em;
  line-height: 2.3em;
  width: 2.5em;
  height: 2.5em;
  background-color: #30888c;
  border-radius: 50%;
  border: solid 2px #fff;
}
/* location-list */
#location-list .locations {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}
#location-list .events-list {
  overflow: auto;
  overflow-x: hidden;
}
/* map */
#map-section {
  position: relative;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0;
}
#map {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#map .locate {
  cursor: pointer;
  background-color: #fff;
  width: 32px;
  height: 32px;
  font-size: 30px;
  line-height: 28px;
  text-align: center;
}
#map .locate.on {
  background-color: #ed7634;
  color: #fff;
}
#map .location-point {
  background-color: #0078A8;
  border-radius: 50%;
  width: 3px;
  height: 3px;
}
#map .switch-layer {
  cursor: pointer;
  background-color: #fff;
  line-height: 1.4em;
  font-size: 1em;
  font-weight: bold;
  padding: 5px 10px;
}
#map .switch-layer.show-events.selected {
  background-color: #386e35;
}
#map .switch-layer.show-locations.selected {
  background-color: #652733;
}
#map .marker {
  width: 8mm !important;
  height: 8mm !important;
  margin-left: -4mm !important;
  margin-top: -4mm !important;
  border: solid 2px;
  border-color: rgba(128, 128, 128, 0.8);
  border-radius: 50%;
}
#map .location {
  background-color: #652733;
}
#map .event {
  background-color: #386e35;
}
#map .marker.highlight {
  width: 10mm !important;
  height: 10mm !important;
  margin-left: -5mm !important;
  margin-top: -5mm !important;
  border: solid 2mm #ed7634;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* Prevent callout */
.nocallout {
  -webkit-touch-callout: none;
}
.pressed {
  background-color: rgba(0, 0, 0, 0.7);
}
/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {
  -webkit-appearance: none;
}
/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */
.gifhidden {
  position: absolute;
  left: -100%;
}
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}
.ir br {
  display: none;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 800px) {
  /* Style adjustments for viewports that meet the condition */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for viewports that meet the condition */
}
