@colorThemeBRN2018: #904840;
@colorThemeNAF2018: #45aaa6;
@colorThemeBRN2019: #bccc0c;

@colorTheme: @colorThemeBRN2019;
@colorBackground: #fff;

@colorWarning: #f88;

@colorFont: #222;
@colorLightFont: #eee;
@colorLinks: #45aaa6;