/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Colors
   ========================================================================== */
@colorTheme: #904840;
@colorBackground: #fff;

@colorWarning: #f88;

@colorFont: #222;
@colorLightFont: #eee;
@colorLinks: #45aaa6;

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* 
 * see https://wiki.selfhtml.org/wiki/CSS/Eigenschaften/box-sizing#Vererbung_auf_alle_Elemente
 */
html {
    box-sizing: border-box;
}
*, ::before, ::after { 
    box-sizing: inherit;
}


html,
button,
input,
select,
textarea {
    color: @colorFont;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: @colorLinks;
}
a:hover {
    text-decoration: underline;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/*
 * No Javascript
 */

#no-js {
    position: fixed;
    top: 33%;
    left: 20%;
    right: 20%;
    
    background-color: @colorBackground;
    
    padding: 3%;    
    
    font-size: 1em;
    font-weight: bold;
    color: @colorWarning;
    border: solid 1px @colorWarning;
}
html.js #no-js {
    display: none;
    visibility: hidden;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    cursor: pointer;
}

.template {
    display: none;
}

.no-data {
    opacity: 0.5;
}

/* structure */
.section {
    padding: 110px 5px 5px 5px;
}

/* top bar */
#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: @colorTheme;
    color: @colorLightFont;    

    #app-name {
        flex-grow: 2;
        flex-shrink: 1;
        font-size: 0.7em;
        padding: 10px 15px 0 10px;
        padding: 0 15px 0 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        color: @colorLightFont;
        text-align: center;
        padding: 5px 10px;
    }
    .button.tile {
        padding: 10px 15px;
        font-weight: bold;
        font-size: 1.3em;
    }
    .button:hover {
        border-radius: 50%;
        background-color: rgba(255,255,255,0.5);
    }

    #menu-bar {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
}

/* events list */
#events-list {
    
}















/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}